{% extends '@layout/auth.html.twig' %}

{% block title %}
    Login {{ parent() }}
{% endblock %}

{% block page_header %}
    Login
{% endblock %}

{% block content %}

    {% set email = form.get('email') %}
    {% do email.setAttribute('class','form-control') %}

    {% set password = form.get('password') %}
    {% do password.setAttribute('class','form-control') %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class','btn btn-primary').setLabel('Entrar') %}

    {% do form.setAttribute('action',url('auth.login')) %}
    {% do form.prepare() %}
    <div class="box">

        {{ form().openTag(form) | raw}}

        <div class="box-body">
            {% set message = formElementErrors(email,{class: 'help-block'}) %}
            <div class="form-group {{ message ? 'has-error' }}">
                {{ formLabel(email) }}
                {{ formElement(email) }}
                {{ message | raw }}
            </div>
            {% set message = formElementErrors(password,{class: 'help-block'}) %}
            <div class="form-group {{ message ? 'has-error' }}">
                {{ formLabel(password) }}
                {{ formElement(password) }}
                {{ message | raw }}
            </div>
        </div>

        <div class="box-footer">
            {{ formRow(submit) }}
        </div>

        {{ form().closeTag() | raw}}

    </div>

{% endblock %}
