{% set email = form.get('email') %}
<div class="form-group">
    {{ formRow(form.get('name')) }}
</div>
{% set message = formElementErrors(email,{class: 'help-block'}) %}
<div class="form-group {{ message ? 'has-error' }}">
    {{ formLabel(email) }}
    {{ formElement(email) }}
    {{ message | raw }}
</div>
<div class="form-group">
    {{ formRow(form.get('tags')) }}
</div>