{% extends '@layout/adminlte.html.twig' %}

{% block title %}
    Excluir Contato {{ parent() }}
{% endblock %}

{% block page_header %}
    Excluir Contato {{ form.getObject().name }}
{% endblock %}

{% block content %}

    {% include '@app/customer/_form-elements.html.twig' %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class','btn btn-danger').setLabel('Conformar Exclusão') %}

    {% do form.setAttribute('action',url('customer.delete', {id: form.getObject().id })) %}
    {% do form.prepare() %}

        <div class="box box-danger">

                <fieldset disabled>
                    <div class="box-body">

                        {% include '@app/customer/_form-body.html.twig' %}

                    </div>
                </fieldset>

            {{ form().openTag(form) | raw}}

            {{ formHidden(form.get('_method')) }}

            <div class="box-footer">
                {{ formRow(submit) }}
            </div>

            {{ form().closeTag() | raw}}

        </div>

{% endblock %}
